<!-- BOOTSTRAP CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/02f602a5b9.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mx-auto">

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/Computer_Max"><i class="fas fa-home"></i> Inicio</a>
      </li>

      <li class="nav-item dropdown nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
          <i class="far fa-clipboard"></i> Agregar Productos     
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:4000/accesorios/add"><i class="fas fa-keyboard"></i> Accesorios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/computadores/add"><i class="fas fa-desktop"></i> Computadores </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/portatiles/add"><i class="fas fa-laptop"></i> Portatiles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/piezas/add"><i class="fas fa-puzzle-piece"></i> Piezas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/marcas_equipo/add"><i class="fas fa-laptop-code"></i> Marcas De Equipos</a>                          
        </div>
      </li>
     
      <li class="nav-item dropdown nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
          <i class="fab fa-sistrix"></i> Consultar Productos    
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:4000/accesorios/consultar"><i class="fas fa-keyboard"></i> Accesorios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/computadores/consult"><i class="fas fa-desktop"></i> Computadores </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/portatiles/laptops"><i class="fas fa-laptop"></i> Portatiles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/piezas/partes"><i class="fas fa-puzzle-piece"></i> Piezas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/marcas_equipo/equipos"><i class="fas fa-laptop-code"></i> Marcas De Equipos</a>
        </div>
      </li>

      <li class="nav-item dropdown nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
          <i class="fab fa-sistrix"></i> Consultar BD    
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:4000/registro/usuario"><i class="fas fa-address-book"></i> Usuarios </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/contacto/mensajes"><i class="fas fa-envelope"></i> Mensajes</a>        
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/pedidos/consultar"><i class="fas fa-archive"></i> Pedidos </a>
          <div class="dropdown-divider"></div>  
          <a class="dropdown-item" href="http://localhost:4000/compra/consultar"><i class="fas fa-dollar-sign"></i> Compras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/factura/consultar"><i class="fas fa-edit"></i> Facturas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:4000/mantenimiento/consultar"><i class="fas fa-tools"></i> Mantenimiento</a>        
          
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/pedidos/add"><i class="fas fa-archive"></i> Pedido</a>
      </li>  

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/compra/add"><i class="fas fa-dollar-sign"></i> Compra</a>
      </li>  

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/factura/add"><i class="fal fa-badge-dollar"></i><i class="fas fa-edit"></i> Facturas</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/mantenimiento/add"><i class="fal fa-badge-dollar"><i class="fas fa-tools"></i> Mantenimiento</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/contacto/enviar_mensaje"><i class="fas fa-envelope"></i> Mensaje    </a>
      </li>  
      
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4000/registro/newregistro"><i class="fas fa-sign-in-alt"></i> Registrarse</a>
      </li>
      
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</nav>