<h1>hola</h1>

<form action="/usuarios/agregar" method="POST">
    <img src="/images/gafas1.png" alt="">
    <input type="text" name="nombre" id="">
    <input type="text" name="ape" id="">
    <button type="submit">enviar</button>

</form>